*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

:root {
  --carrot-color: #ffa221;
  --black: #132324;
  --white: #fff;
  --light-color: #ddd;
  --light-gray: #666;
  --gray: #424242;
  --light-bg: #eee;
  --border: 0.2rem solid var(--black);
  --box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: var(--carrot-color);
  border-radius: 5rem;
}

body {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  background-color: #f1f2f1;
}

section {
  padding: 5rem 9%;
}

a:visited {
  color: inherit;
}

input {
  font-family: inherit;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 2.8rem;
  border-radius: 5rem;
  border-top-left-radius: 0;
  border: 0.2rem solid var(--black);
  cursor: pointer;
  background: none;
  color: var(--black);
  font-size: 1.7rem;
  overflow: hidden;
  z-index: 0;
  position: relative;
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--black);
  z-index: -1;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-clip-path: circle(0% at 0% 5%);
  clip-path: circle(0% at 0% 5%);
}

.btn:hover::before {
  -webkit-clip-path: circle(100%);
  clip-path: circle(100%);
}

.btn:hover {
  color: #fff;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-transform: translateY(3rem);
    transform: translateY(3rem);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    -webkit-transform: translateY(3rem);
    transform: translateY(3rem);
    opacity: 0;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  section {
    padding: 5rem 2rem;
  }
  .home {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-position: right;
  }
  .home .content {
    text-align: center;
    padding-bottom: 5rem;
  }
  .home .content h3 {
    font-size: 4.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
